html {
    background-color: lightblue;
}

.content {
    display: flex;
}

.task-card {
    width: 50px;
    height: 50px;
    border: 1px black solid;
}

.add-project-button {
    width: 40px;
    height: 30px;
}