html {
    background-color: lightblue;
}


.content {
    display: flex;
}

.task-card {
    width: 50px;
    height: 50px;
    border: 1px black solid;
}

.add-project-button {
    width: 40px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.modal {
    background-color: beige;
    width: 310px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.hidden {
    display: none;
}

.cancel-button, .submit-button {
    width: 50px;
    height: 24px;
}